$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 992px,
  xl: 1300px
);

@import './variables';

$body-bg: $dark;
$body-color: $light;
$line-height-base:1.2;
$input-bg: rgba(0,0,0,0);

$font-size-base: 1.2rem;
//$input-placeholder-color: $light;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.form-control{
  border: 2px solid $secondary;
	color: #fff !important;
  //font-size: 2rem;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
