$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 992px,
  xl: 1300px
);

@import './variables';

$body-bg: $dark;
$body-color: $light;
$line-height-base:1;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.form-control{
  background: rgba(0,0,0,0);
  border: 2px solid $secondary;
}
